.jumbotron
	%h1 Assignees
	<a class="btn btn-primary" href="/" role="button">Home »</a>
	<a class="btn btn-primary" href="/assignees/new" role="button">Add an assignee »</a>

<div class="container">
- @assignees.each do |a|
	<div class="col-lg-4">
	Name:
	= a.assignee_name
	%br
	Assignee ID:
	= a.id
	= button_to "Edit", edit_assignee_path(a), method: :get
	= button_to "Delete", assignee_path(a), method: :delete
	%br
	%br
	</div>
</div>

/ = form_tag(search_assignees_path, method: "get") do
/ 	= label_tag("Search for assignees")
/ 	= text_field_tag :search_assignee_name
/ 	= submit_tag "Search"

